---
permalink: /manifest.webmanifest
eleventyExcludeFromCollections: true
---
{
  "icons": [
    { "src": "/images/favicon/mermaidmixup-favicon_192x192.png", "type": "image/png", "sizes": "192x192" },
    { "src": "/images/favicon/mermaidmixup-favicon_512x512.png", "type": "image/png", "sizes": "512x512" }
  ]
}