---
eleventyExcludeFromCollections: true
permalink: /pinterest.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
    <channel>
        <title>MermaidMixup Pinterest RSS Feed</title>
        <description>Feed for Pinterest bulk updates</description>
        <link>{{ site.baseURL }}</link>
        <copyright>{{ build.year }}
            {{ site.domain }}</copyright>
        <lastBuildDate>{{ build.datetime.rfc822 }}</lastBuildDate>
        <pubDate>{{ build.datetime.rfc822 }}</pubDate>
        <ttl>1800</ttl>

        {% for listing in etsy.listings %}
            <item>
                <title>{{ listing.title }}</title>
                <description>{{ listing.description | markdownToPlainText | safe }}</description>
                <link>{{ site.baseURL }}/listings/{{ listing.listing_id }}</link>
                <guid>{{ site.baseURL }}/listings/{{ listing.listing_id }}</guid>
                <media:content url="{{ listing.images[0].url_fullxfull }}" medium="image"/>
            </item>
        {% endfor %}

    </channel>
</rss>