---
eleventyExcludeFromCollections: true
permalink: /pinterest.xml
---

<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>MermaidMixup Pinterest RSS Feed</title>
        <description>Feed for Pinterest bulk updates</description>
        <link>{{ site.baseURL }}</link>
        <copyright>{{ build.year }}
            {{ site.domain }}</copyright>
        <lastBuildDate>{{ build.datetime.rfc822 }}</lastBuildDate>
        <pubDate>{{ build.datetime.rfc822 }}</pubDate>
        <ttl>1800</ttl>

        {% for listing in etsy.listings %}
            <item>
                <title>{{ listing.title }}</title>
                <description>{{ listing.description | markdownToPlainText | safe }}</description>
                <link>{{ site.baseURL }}/listings/{{ listing.listing_id }}</link>
                <image>
                    <url>{{ listing.images[0].url_570xN }}</url>
                    <width>570</width>
                    <title>Product image for MermaidMixup listing ID {{ listing.listing_id }}</title>
                    <link>{{ site.baseURL }}</link>
                </image>
            </item>
        {% endfor %}

    </channel>
</rss>