---
import PlainPage from '../layouts/PlainPage'
import ToolbarHeader from '../components/ToolbarHeader.astro'

import { activeListings } from '../utils/etsy'

activeListings.init()
const listings = await activeListings.get()
---

<PlainPage>
  <ToolbarHeader />

  <ul>
    {listings.map(listing => <li><a href={`/listings/${listing.listing_id}`}>{listing.title}</a></li>)}
  </ul>
</PlainPage>