<style lang="scss">
.header {
  padding: 2rem;
  border-bottom: 1px solid grey;
  font-size: 1.4rem;

  a {
    text-decoration: none;
    color: inherit;
  }
}
</style>

<header class="header">
  <a href="/">MermaidMixup</a>
</header>