{% if analytics.google.enabled %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics.google.measurementID }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', {{ analytics.google.measurementID }});
    </script>
{% endif %}