<link rel="icon" href="/images/favicon/mermaidmixup-favicon_32x32.png" sizes="any">
<link rel="apple-touch-icon" href="/images/favicon/mermaidmixup-favicon_180x180.png">
<link rel="manifest" href="/manifest.webmanifest">