<footer class="footer">
    <div class="has-text-right">
        <p>{{ site.domain }} - {{ build.year }}</p>
        <ul>
            <li>
                <a href="{{ urls.etsy.footer }}">Shop MermaidMixup on Etsy &gt;</a>
            </li>
            <li>
                <a href="/delivery">Delivery</a>
            </li>
            <li>
                <a href="/pay-what-you-can">Pay-what-you-can</a>
            </li>
        </ul>
    </div>
</footer>