<h2 class="title is-2 is-size-4-mobile">Pay-what-you-can</h2>
<p>Things work a little differently here. Everything we sell comes with <strong>three price points</strong> and <strong>zero judgement</strong>.</p>
<p>Can't afford much? Choose the "pay less" option, no questions asked. All we ask is that you exercise your honesty and choose the "standard" option if you can afford it: this helps keep MermaidMixup accessible for everybody.</p>
<p>And if you really fancy it, you can choose the "treat me to a coffee" price, which puts a smile on my face and funds more time spent creating cool new things for the shop.</p>
<p>
    <a href="/pay-what-you-can">Find out more about our pay-what-you-can pricing &gt;</a>
</p>