<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@{{ social.twitter }}"/>
<meta name="twitter:title" content="{% if title %}{{ title }} - {% endif %}{{ baseTitle }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:image" content="{{ socialImage | prefixURLIfNotAbsolute }}"/>

<meta property="og:url" content="{{ site.baseURL }}{{ page.url }}"/>
<meta property="og:type" content="{{ ogType }}"/>
<meta property="og:title" content="{% if title %}{{ title }} - {% endif %}{{ baseTitle }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="{{ socialImage | prefixURLIfNotAbsolute }}"/>
<meta property="og:locale" content="en_GB"/>