---
layout: 'layouts/base.njk'
title: Products
description: Explore all of our lovely queer stickers, badges and other things. Find out more about each or shop now.
---

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title is-1 is-size-3-mobile">Browse MermaidMixup</h1>
            <p class="mb-6">Explore all of our lovely queer stickers, badges and other things.</p>
        </div>
        <div class="columns is-multiline">
            {% for listing in etsy.listings %}
                <div class="column is-3">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-square">
                                <img src="{{ listing.images[0].url_570xN }}">
                            </figure>
                        </div>
                        <div class="card-content" style="max-height: 15rem; overflow-y: hidden;">
                            <div class="content">
                                <h2 class="title is-4 is-size-5-mobile">{{ listing.title }}</h2>
                                <p>{{ listing.description | markdown | safe }}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="{{ listing.url }}?utm_source=mermaidmixup.com&utm_medium=referral&utm_campaign=mermaidmixup-listing-index-page&utm_content={{ listing.listing_id }}" class="card-footer-item">
                                <strong>Buy</strong>
                            </a>
                            <a href="/listings/{{ listing.listing_id }}/" class="card-footer-item">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>