---
layout: 'layouts/base.njk'
pagination:
    data: listings
    size: 1
    alias: listing
    addAllPagesToCollections: true
permalink: "/listings/{{ listing.listing_id }}/"
---

<section class="section">
    <div class="container">
        <div class="content">
            <h1 class="title is-1 is-size-3-mobile">{{ listing.title }}</h1>
            <p class="subtitle is-3 is-size-5-mobile">Pay-what-you-can at MermaidMixup</p>

            <p>{{ listing.description | markdown | safe }}</p>

            <p>
                <a class="button is-primary is-large" href="{{ listing.url }}">Buy on Etsy</a>
            </p>

            {% include "components/pay_what_you_can_snippet.njk" %}
        </div>
    </div>
</section>