---
baseTitle: MermaidMixup
title: ""
description: "MermaidMixup is a shop with a simple goal: pretty, LGBTQ+ stickers, badges and pins with accessible pricing. Pay what you can afford."

socialImage: /images/banner.png
ogType: website
---

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "../components/seo_meta.njk" %}
        {% include "../components/social_meta.njk" %}
        {% include "../components/favicon.njk" %}
        <link rel="stylesheet" href="/css/base.css">
    </head>
    <body class="has-navbar-fixed-top">
        {% include "../components/navbar.njk" %}
        {% include "../components/banner_image.njk" %}
        {{ content|safe}}
        {% include "../components/footer.njk" %}
    </body>
</html>