---
import StandardHead from '../components/StandardHead.astro';

const {title} = Astro.props
---
<style lang="scss">
.main {
  position: relative;
  width: 100%;
}
</style>

<html lang="en">
  <head>
    <StandardHead title={title} />
  </head>
  <body>
    <div class="main">
      <slot />
    </div>
  </body>
</html>
